<div class="card text-center">
  
    <div class="card-body">
      <p class="card-text"> Prénom : <%=@id.first_name%></p>
      <p class="card-text"> Nom  : <%=@id.last_name%></p>
      <p class="card-text"> Mail : <%=@id.email%></p>
      <p class="card-text"> Age : <%=@id.age%></p>
      <p class="card-text"> Description : <%=@id.description%></p>
    </div>
    
  </div>