<h2>Auteur du gossip : <p class="author"><%= Gossip.find(@id).user.first_name %></p></h2>

<h2>Titre : <p class="author"><%= Gossip.find(@id).title %></p></h2>


<h2>Contenu : <p class="author"><%= Gossip.find(@id).content %></p></h2>

<h2>Ville: <a href = "<%=city_path(Gossip.find(@id).user.city.id)%>"><%= Gossip.find(@id).user.city.city_name %></a></h2>


<a href="/user/<%= Gossip.find(@id).user_id %>" class="btn btn-dark">Voir le profil de l'auteur</a>

<a href="/gossip/<%= Gossip.find(@id).id%>/edit" class="btn btn-dark">Modifier le potin</a>

<a href="/gossip/<%= Gossip.find(@id).id%>" class="btn btn-danger" data-confirm="Voulez-vous vraiment supprimer le potin ?" data-method="DELETE">Supprimer le potin</a>

<h3> ESPACE COMMENTAIRES </h3>

<a href="/gossip/<%= Gossip.find(@id).id%>/edit" class="btn btn-dark">Créer commentaire</a>

<div class="container">

     

     <%= form_for @gossip do |f| %>
<div class="form-group">
    <label>Titre du gossip</label><br>
    <%= f.text_field :title, class: "form-control" %>
</div>
<div class="form-group">
    <label>Contenu du gossip</label><br>
    <%= f.text_area :content, class: "form-control" %>
</div>
<div class="form-group">
    <button type="submit" class="btn btn-primary">Modifier le gossip </button>
<% end %>
</div>





