<h2>Auteur du gossip : <p class="author"><%= Gossip.find(@id).user.first_name %></p></h2>

<h2>Titre : <p class="author"><%= Gossip.find(@id).title %></p></h2>


<h2>Contenu : <p class="author"><%= Gossip.find(@id).content %></p></h2>

<h2>Ville: <a href = "<%=city_path(Gossip.find(@id).user.city.id)%>"><%= Gossip.find(@id).user.city.city_name %></a></h2>


<a href="/user/<%= Gossip.find(@id).user_id %>" class="btn btn-dark">Voir le profil de l'auteur</a>

<a href="/gossip/<%= Gossip.find(@id).id%>/edit" class="btn btn-dark">Modifier le potin</a>

<a href="/gossip/<%= Gossip.find(@id).id%>" class="btn btn-danger" data-confirm="Voulez-vous vraiment supprimer le potin ?" data-method="DELETE">Supprimer le potin</a>

<h3> ESPACE COMMENTAIRES </h3>

<a href="/gossip/<%= Gossip.find(@id).id%>/edit" class="btn btn-dark">Créer commentaire</a>

<div class="container">
<%= form_tag url_for(action: 'create'), method: "post" do %>

     

      <%= label_tag 'Contenu du GOSSIP' %>
      <%= text_area_tag 'content', @gossip.comment %>
      <br /> <br />


      <%= submit_tag "Créer le GOSSIP" %>

    <% end %>

    

    </div>





