<h2>Auteur du gossip : <p class="author"><%= Gossip.find(@id).user.first_name %></p></h2>

<h2>Titre : <p class="author"><%= Gossip.find(@id).title %></p></h2>


<h2>Contenu : <p class="author"><%= Gossip.find(@id).content %></p></h2>

<h2>Ville: <a href = "<%=city_path(Gossip.find(@id).user.city.id)%>"><%= Gossip.find(@id).user.city.city_name %></a></h2>


<a href="/user/<%= Gossip.find(@id).user_id %>" class="btn btn-dark">Voir le profil de l'auteur</a>

<a href="/gossip/<%= Gossip.find(@id).id%>/edit" class="btn btn-dark">Modifier le potin</a>

<a href="/gossip/<%= Gossip.find(@id).id%>" class="btn btn-danger" data-confirm="Voulez-vous vraiment supprimer le potin ?" data-method="DELETE">Supprimer le potin</a>

<p><%= button_to 'Like', gossip_likes_path(@gossip), method: :post %></p>
						
<p><%= @gossip.likes.count %> <%= (@gossip.likes.count) == 1 ? 'Like' : 'Likes'%></p>
<% pre_like = @p.likes.find { |like| like.user_id == current_user.id} %>
<% if pre_like %>
  <%= button_to 'Unlike', post_like_path(@post, pre_like), method: :delete %>
<% else %>
  <%= button_to 'Like', post_likes_path(@post), method: :post %>
<% end %>
<h3> ESPACE COMMENTAIRES </h3>



<div class="container">

    
                <%= form_tag(gossip_comments_path(@id), method: "post") do %>
                    <%= text_field_tag 'gossip_id', @id, type: 'hidden', class: 'form-control' %>
					<%= text_field_tag 'user_id', current_user, type: 'hidden', class: 'form-control' %>
                    <div class="form-group">
                        <%= label_tag 'Nouveau commentaire' %>
                        <%= text_area_tag 'content', '', required: true, class: 'form-control' %>
                    </div>
                    <%= submit_tag "Envoyer", class: 'btn btn-outline-primary btn-sm' %>
                <% end %>
                

</div>

<div class="list-group mx-auto">

			<% @gossip.comments.reverse.each do |comment| %>

			<div class="list-group-item mb-2">
				<div class="row">
					<div class="col-9">
						<p class="mb-1"><%= comment.content %></p>
						<p class="mb-1"><%= comment.user %></p>

						
						
					</div>
					<div class="col-3 text-right">
					<%if current_user != nil%>
						<small><%= link_to "Editez", edit_gossip_comment_path(@gossip.id, comment.id) %></small>
						
						 <% end %>
					</div>
				</div>
			</div>
            <% end %>
